/* Chocolate chip cookies css*/
h1 {
    background-color: pink;
    text-align: center;
}
.image {
    text-align: center;
    padding: 10px;
}
.Subheadings {
    text-decoration: underline;
    background-color: pink;

    width: 90px;
    margin-left: auto;
    margin-right: auto;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
